.client-list
  background: $d-red-full
  &__head
    margin-bottom: 55px
    +md
      margin-bottom: 50px
    +sm
      margin-bottom: 40px
  &__grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
    gap: 66px
    row-gap: 66px
    +lg
      gap: 26px
      row-gap: 26px
    +md
      gap: 50px
      row-gap: 50px 
      grid-template-columns: 1fr 1fr 1fr 1fr
    +sm
      gap: 18px
      row-gap: 18px
      grid-template-columns: 1fr 1fr 1fr
    &_main
      +sm
        display: none

  &__slider-wrap
    display: none
    +sm
      display: block

  &__grid-item
    position: relative
    +aspect-ratio(1/1)
    img
      position: absolute
      left: 50%
      top: 50%
      transform: translate3d(-50%, -50%, 0px)
      width: 100%
      height: 100%
      object-fit: contain
  &__pagination
    margin-top: 25px
