.combo1
  $this: &

  &__item
    position: relative

    &:not(:last-child)
      +sm
        margin-bottom: 41px
  
  &:not(.combo1_reverse)
    #{$this}__item
      &_first
        margin-top: 89px

        +grid
          margin-top: 5.7vw

        +sm
          margin-top: 0

  &_reverse
    #{$this}__item
      &_first
        margin-top: 196px

        +grid
          margin-top: 12.6vw

        +sm
          margin-top: 0
