.combo-block
  $this: &
  &__img-wrap
    position: relative
    height: 0
    padding-bottom: 56.25%

    img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover

  &__text
    position: relative
    left: 5%
    margin-top: 19px
    width: 95%
    &.textual
      margin-bottom: 0

    // +lg
    //   left: 5%
    //   width: 95%

    // +md
    //   left: 5%
    //   width: 95%

    +sm
      left: 0
      margin-top: 9px
      width: 100%

  &_xl
    #{$this}__img-wrap
      padding-bottom: 67.25%

  &_lg
    #{$this}__img-wrap
      padding-bottom: 67%

      +sm
        padding-bottom: 63.6%
      
  &_l
    #{$this}__img-wrap
      padding-bottom: 69.25%

      +lg
        padding-bottom: 63.6%
      
  &_m
    #{$this}__img-wrap
      padding-bottom: 64.3%

  &_sm
    #{$this}__img-wrap
      padding-bottom: 134%

  &_xs
    #{$this}__img-wrap
      padding-bottom: 150.2%

    #{$this}__text
      left: 15%
      width: 85%
      +lg
        left: 11%
        width: 89%

      +md
        left: 8%
        width: 92%

      +sm
        left: 0
        width: 100%

