.combo2
  &__item
    position: relative

    +sm
      margin-bottom: 41px
      
    &_first
      margin-bottom: 65px

      +lg
        margin-bottom: 48px
        order: 0

      +sm
        margin-bottom: 41px

    &_second
      top: 291px
  
      +grid
        top: 16vw
  
      +lg
        top: 0
        order: 1

    &_third
      +lg
        order: 2
        margin-top: 15.8vw
      +sm
        margin-top: 0
        margin-bottom: 0

