.contacts
  &__title
    margin-bottom: 30px

  &__headline
    margin-bottom: 80px
    +lg
      margin-bottom: 60px
    +sm
      margin-bottom: 40px

  &__boxes
    +md
      // margin: 0 -4px
      justify-content: space-between

    // +sm
    //   margin: 0 -3px

  &__box
    margin-bottom: 133px
    +mdmin
      margin-right: calc(100% / 20 + 0px)

      &:nth-of-type(3n)
        margin-right: 0
    +lg
      margin-bottom: 110px

    +md
      margin-bottom: 90px
    +sm
      margin-bottom: 70px

    &-row

    &-img
      position: relative
      // height: 462px
      margin-bottom: 40px
      width: 100%
      padding-bottom: 132.25%
      height: 0
      +sm
      +lg
        margin-bottom: 20px
      +md
        margin-bottom: 15px

      // +lg
      //   height: 308px

      // +md
      //   height: 388px

      +sm
        height: auto
        padding-bottom: 0
        margin-bottom: 17px
        // width: 150px
        width: calc(((100%) / 11 ) * 5  - 4px )

      img
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        object-fit: cover

        +sm
          position: static

    &-name
      margin-bottom: 18px
      +lg
        margin-bottom: 10px
      +md
        font-size: 20px
 
    &-career
      min-height: 50px

      +xx
        font-size: 14px
      +md
        font-size: 13px

      // +lg
      //   font-size: 14px

      +sm
        min-height: 1px

    &-links
      align-items: flex-start
      display: flex
      flex-direction: column
      margin-top: 33px
      +xx
        margin-top: 15px
        font-size: 14px
      +md
        margin-top: 10px
        font-size: 13px
      +sm
        margin-top: 10px

  &__btn
    margin-top: 47px
    +lg
      margin-top: 30px
    +md
      margin-top: 15px
    +sm
      // margin-top: 15px


