.header
  $this: &
  position: fixed
  top: 0
  left: 0
  z-index: 110
  min-height: 120px
  width: 100%
  transition: min-height $easing 0.3s
  font-size: 12px
  letter-spacing: 0.32px

  // +hover
  //   &:before
  //     transform: scaleY(1)

  // &:before
  //   +pseudo
  //   background-color: #fff
  //   height: 100%
  //   transform: scaleY(0)
  //   transform-origin: top left
  //   width: 100%
  //   +transition

  &__in
    align-items: flex-start
    display: flex
    justify-content: space-between
    padding: 25px 60px
    position: relative

    +lg
      padding: 25px 38px

    +md
      padding: 32px 24px

    +sm
      padding: 20px 10px

  &__col
    &_links
      align-items: flex-start
      display: flex
      justify-content: space-between
      width: 100%

      +md
        display: none

      .is-menu-opened &
        +md
          display: block

    &_right
      +md
        padding-right: calc(100% / 24 * 2 - 24px + 2.5px)
  &__main
    text-align: center
  &__nav
    // +md
    //   padding: 32px calc(100% / 24 + 24px + 4px) 60px

    // +sm
    //   padding: 25px calc(100% / 12 + 10px + 2px) 60px
  &__center-item
    font-size: 12px
    letter-spacing: 0.1em
    transition: color $ease, opacity $ease
    +sm
      display: none
    +invert-header
      color: $white

  &__logo
    position: absolute

    +md
      left: 30px

    +sm
      left: 15px

  &__text
    font-size: 12px
    letter-spacing: normal
    opacity: 1
    position: absolute
    top: 25px
    right: 60px
    transition: opacity $easing 0.3s
    width: 103px
    +reg-mono

    +lg
      font-size: 10px
      right: 38px

    +md
      color: #fff
      font-size: 16px
      display: none
      left: calc(100% / 24 + 24px + 4px)
      right: auto
      top: 32px
      width: 137px

    +sm
      font-size: 14px
      left: calc(100% / 12 + 10px + 2px)
      top: 25px

    &_mob
      display: none
      z-index: 1

      +md
        display: block
        position: relative
        top: 0
        left: 0
        margin-bottom: 130px

      +sm
        top: 0
        left: 0
        margin-bottom: 54px
  &__burger, &__soc, &__download
   position: fixed
   z-index: 109
  &__burger
    top: 50%
    left: 40px
    transform: translate(0, -50%)
    +lg
      left: 38px
    +md
      left: 29px
    +sm
      // position: relative
      top: 13px
      left: auto
      right: 13px
      transform: none
      z-index: 110
  &__soc
    top: 50%
    right: 40px
    transform: translate(0, -50%)
    +lg
      right: 38px
    +md
      display: none
    // +md
    //   right: 29px
    // +sm
    //   display: none
    +mobile-landscape
      display: none
  &__download
    left: 50px
    bottom: 45px
    +r(1599)
      display: none
    +lg
      bottom: 35px
      left: 48px
    +md
      left: 39px
      bottom: 40px
    +sm
      display: none
    +mobile-landscape
      display: none

    +is-home
      bottom: calc(78px + 5vh ) //78 - negative margin for home-news, 5vh - because height of home hero section is 95vh
      bottom: calc(78px + (var(--vh, 1vh) * 5)) //78 - negative margin for home-news, 5vh - because height of home hero section is 95vh
      transform: translateY(46px)
  .is-scrolled &
    min-height: 90px

    +md
      min-height: 97px

    +sm
      min-height: 73px

    // &:before
    //   transform: scaleY(1)

    #{$this}__text
      +mdmin
        opacity: 0
    #{$this}__center-item
      opacity: 0
  .is-scrolled.is-menu-opened &
    // &:before
    //   transform: scaleY(0)
    #{$this}__text
      +mdmin
        opacity: 1


.header-drop
  background: rgba($black, 0.85)
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 108
  transition: opacity $easing 0.5s
  pointer-events: none
  opacity: 0


  &__wrapper

    margin-top: 100px
    +sm
      margin-top: 80px
      // margin-top: 147px
  &__container
    overflow: auto
    height: calc(100vh - 100px)
    height: calc((var(--vh, 1vh) * 100) - 100px)
    +sm
      height: calc(100vh - 80px)
      height: calc((var(--vh, 1vh) * 100) - 80px)
    // min-height: 100%
  &__inner
    position: relative
    display: flex
    align-items: center
    min-height: calc(100vh - 100px)
    min-height: calc((var(--vh, 1vh) * 100) - 100px)
    padding-bottom: 100px
    +lg
      padding-bottom: 80px
    +sm
      padding-bottom: 60px
      align-items: flex-start
      padding-top: 67px
      min-height: calc(100vh - 80px)
      min-height: calc((var(--vh, 1vh) * 100) - 80px)

  &__main-menu-wrapper
  &__langs
    position: absolute
    left: 50%
    bottom: 55px
    transform: translate3d(-50%, 0px, 0px)
    +lg
      bottom: 45px
    +md
      bottom: 32px
    +sm
      bottom: 16px
  .is-menu-opened &
    opacity: 1
    pointer-events: all
.header-drop-menu
  display: flex
  flex-direction: column
  align-items: flex-start
  &__item
    position: relative
    display: inline-block

    &:not(:last-of-type)
      margin-bottom: 44px
      +xxl
        margin-bottom: vh(44/$desktop-h)
      +laptop-sm-height
        margin-bottom: vh(40/$desktop-h)!important
      +lg
        margin-bottom: vh(32/$tablet-h)
      +md
        margin-bottom: 40px
      +sm
        margin-bottom: 24px
    & > a
      display: inline-flex
      align-items: center
      font-size: 44px
      letter-spacing: -0.015em
      text-transform: uppercase
      +bold
      fill: $red
      +xxl
        font-size: vh(44/$desktop-h)
      +laptop-sm-height
        font-size: vh(36/$desktop-h)!important
      +lg
        font-size: vh(20/$tablet-h)
      +md
        font-size: 36px
      +sm
        font-size: 24px
      svg
        display: block
        position: relative
        font-size: 15px
        fill: $red
        margin-left: 40px
        transition: transform $easing 0.3s
        transform: rotateX(180deg)
        +lg
          font-size: 12px
          margin-left: 34px
        +md
          margin-left: 24px
        +sm
          font-size: 8px
          margin-left: 10px
          top: 0px
      span
        display: block
        position: relative
        &:after
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: -2px
          height: 3px
          background: $red
          transform-origin: 50% 50%
          transform: scaleX(0)
          will-change: transform
          transition: transform $easing 0.3s
          +lg
            bottom: -9px
          +md
            bottom: -6px
    &.is-header-drop-open
      & > a svg
        transform: rotateX(0deg)
    &.is-active
      & > a span
        &:after
          transform: scaleX(1)
    +hover
      & > a span
        &:after
          transform: scaleX(1)
.header-inner-drop
  position: absolute
  left: calc(100% + 130px)
  top: 20px
  display: flex
  flex-direction: column
  align-items: flex-start
  +grid
    // left: calc(100% + 146px)
    left: calc(100% + 100px)
  +xx
    top: vh(18/$desktop-h)
    left: calc(100% + 100px)
  +laptop-sm-height
    top: vh(7/$desktop-h)!important
  +xl
    top: vh(20/$desktop-h)
  +lg
    top: vh(20/$tablet-h)
    left: calc(100% + 50px)
    max-width: 41vw
  +md
    left: calc(100% + 34px)
    top: 14px
  +sm
    position: relative
    top: 0
    left: 0
    max-width: 100%
    padding-top: 28px
    padding-left: 25px
  li
    font-size: 0
    &:not(:last-of-type)
      margin-bottom: 24px
      +xx
        margin-bottom: vh(21/$desktop-h)
      +lg
        margin-bottom: vh(24/$tablet-h)
      +md
        margin-bottom: 23px
      +sm
        margin-bottom: 17px
    &:last-of-type
      a
        +sm
    &.is-active
      a
        &:after
          transform: scaleX(1)
    +hover
      a
        &:after
          transform: scaleX(1)
  a
    display: inline-block
    vertical-align: top
    position: relative
    letter-spacing: 0.1em
    font-size: 28px
    text-transform: uppercase
    line-height: 1
    +reg-mono
    white-space: nowrap
    padding-bottom: 9px
    +xx
      font-size: vh(24/$desktop-h)
    +laptop-sm-height
      font-size: vh(22/$desktop-h)!important
    +lg
      font-size: vh(16/$tablet-h)
    +md
      font-size: 18px
    +sm
      font-size: 13px
      padding-bottom: 0

    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 1px
      height: 2px
      background: $red
      transform-origin: 50% 50%
      transform: scaleX(0)
      will-change: transform
      transition: transform $easing 0.3s
      +sm
        bottom: -7px
        height: 2px

