.hero-slider
  overflow: hidden
  $this: &
  &__left-side

  &__imgs-wrap
    position: relative
    height: 559px
    font-size: 0
    user-select: none
    
    +lg
      height: 375px
    
    +md
      height: 372px
      margin-bottom: 50px
    
    +sm
      height: 196px
      // height: 0
      padding-bottom: 56.25%
      margin-bottom: 21px

    img
      width: 102.5%
      height: 100%
      object-fit: cover
      position: absolute
      top: 0
      left: 0
      opacity: 0
      +md
        width: 100%

      &.is-visible, &:first-of-type
         opacity: 1
  &__counter 
    position: absolute
    // left: percentage(235.72/1420)
    left: 14.5%
    bottom: 60px
    height: 80px
    transform: transkate
    // opacity: 0
    +lg
      height: 65px
    
    +md
      left: 106.5%

    +sm
      display: none

    &:before
      content: ''
      position: absolute
      left: -11px
      top: 50%
      transform: translate(-100%, - 50%)
      width: 73px
      height: 6px
      background: $red

      +lg
        width: 58px
        height: 5px
        left: -10px

      +sm
        width: 44px
        height: 4px

    &.is-visible
      opacity: 1
        
  &__counter-number
    position: absolute
    left: 0
    top: 0
    opacity: 0

    +lg
      font-size: 80px

    &.is-visible
      opacity: 1
  
  &__right-side
    height: 100%
    display: flex
    align-items: center
  &__right-side-inner
    width: 100%

  &__pagination
    // width: 177px
    height: 3px
    margin-bottom: 40px

    +md
      margin-bottom: 27px
    +sm
      margin-bottom: 34px

  &__content-wrap
    position: relative
    min-height: 200px
    // margin-bottom: 60px
    // user-select: none
    will-change: height

    // +md
    //   margin-bottom: 44px
    +sm
      min-height: 1px

      

  &__text-line
    position: absolute
    left: -11px - 73px
    top: 0
    // transform: translateX(-100%)
    width: 73px
    height: 6px
    background: $red

    +lg
      width: 58px
      height: 5px
      left: -11px - 58px

    +sm
      width: 44px
      height: 4px
      left: -50px
  &__btn-wrap
    padding-top: 60px

    +md
      padding-top: 44px

  &__slide-text
    position: absolute
    left: 0
    top: 0
    // height: 100%
    // width: 100%
    z-index: 0
    opacity: 0
    visibility: hidden

    &.is-visible, &:first-of-type
      opacity: 1

    &:first-of-type
      z-index: 1

    &.is-visible
      z-index: 2
      // opacity: 1
      visibility: visible


  &__title
    margin: 0 0 16px
    position: relative

    +lg
      font-size: 38px
    
    +md
      font-size: 48px

    +sm
      font-size: 38px
      
    &:before
      left: -11px

      +lg
        width: 58px
        height: 5px

      +sm
        width: 44px
        height: 4px
        left: -6px


  &.is-one-slide
    #{$this}__pagination, #{$this}__counter, #{$this}__text-line
      display: none


    #{$this}__content-wrap 
      min-height: 1px
  
    #{$this}__slide-text
      display: none
      &:first-of-type
        position: static
        display: block
        visibility: visible

  &:not(.is-one-slide)
    #{$this}__title
      &:before
        display: none
