.history
      
  .headline
    margin-bottom: 80px

    +md
      margin-bottom: 60px

    +sm
      margin-bottom: 40px

  .swiper-slide
    width: 377 + 67 + px

    +lg
      width: 311 + 48 + px

    +md
      width: 290 + 40 + px
    
    +sm
      width: 92vw
    
    &:first-of-type
      padding-left: 67px

      +lg
        padding-left: 48px
      
      +md
        padding-left: 40px

      +sm
         padding-left: 3px
         
    &:last-of-type
      +sm
        padding-right: 3px

.history-item
  display: inline-block
  vertical-align: top
  width: calc(100% - 67px)
  user-select: none

  +lg
    width: calc(100% - 48px)
    
  +md
    width: calc(100% - 40px)

  +sm
    padding: 0 3px
    width: auto

  &__img
    position: relative
    width: 100%
    height: 240px
    margin-bottom: 39px

    +lg
      height: 216px

    +md
      height: 202px
    
    +sm
      height: 0
      padding-bottom: 56.25%
      
    img
      width: 100%
      height: 100%
      object-fit: cover

      +sm
        position: absolute
        left: 0
        top: 0

  &__year
    position: absolute
    bottom: 0
    left: 10%
    +gpu
    transform: translateY(50%)

    +sm
      left: 10px
      font-size: 50px

  &__text-inner
    position: relative
    padding-left: 11%
    padding-right: 14%

    +md
      padding-right: 15px
    +sm
      padding: 0 10px
      
  &__sub-title
    margin-bottom: 12px
    +gpu
    
  &__text
    +gpu
    
  // .swiper-wrapper
  //   .history-item
  //     &:not(:last-of-type)
  //       margin-right: 67px
