.home-news
  padding: 0!important
  position: relative
  z-index: 1
  &__inner
    position: relative
    margin-top: -78px
    padding-top: 40px
    +lg
      margin-top: -48px
      padding-top: 20px
    +lg
      margin-top: 0px
      padding-top: 32px
    &:before
      content: ''
      position: absolute
      top: 0
      left: -27px
      right: -27px
      height: 100%
      background-color: $white
      z-index: -1
      +grid
        left: 0px
        right: 0px
      +lg
        display: none
  &__decor
    margin-top: 48px
    border-bottom: 1px solid $red
    +lg
      margin-top: 32px
    +sm
      margin-top: 8px
  .row
    +sm
      gap: 40px
.home-news-item
  display: block
  a
    display: block
    margin-top: 24px
    +sm
      margin-top: 12px
