.image-section
  &_pink
    background-color: rgba($red, 0.05)
  &_grey
    background-color: rgba($grey, 0.3)
  &_red
    background-color: $red
    color: $white

  &__inner
    margin: 0 auto

    &.fixed-ratio
      aspect-ratio: 1278/720
      +lg
        aspect-ratio: 790/450
      +md
        aspect-ratio: 590/340
      +sm
        aspect-ratio: 294/165
  &__text
    position: relative
    left: 5%
    margin-top: 19px
    width: 95%
    +sm
      left: 0
      margin-top: 9px
      width: 100%
    &.is-set-max-width
      left: 0
      padding-left: calc(var(--max-text-width) * 0.05)
      margin: 19px auto 0
      max-width: calc(var(--max-text-width) * 1)
      width: 100%
      +sm
        padding-left: 0
        margin: 9px auto 0
    &.textual
      margin-bottom: 0
  img
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    max-width: 100%
