.info-section
  $this: &
  background: rgba($grey, 0.3)
  &__top-head 
    margin-bottom: 55px
    +lg
      margin-bottom: 35px
    +sm
      margin-bottom: 20px
  &__subheadline
    margin-bottom: 113px
    +lg
      margin-bottom: 80px
    +sm
      margin-bottom: 60px
  &__bottom-head
    margin-bottom: 71px
    +lg
      margin-bottom: 50px
    +sm
      margin-bottom: 30px
  &__grid
    row-gap: 85px
    +md
      row-gap: 50px
    +sm
      row-gap: 40px
  &__item
    // margin-bottom: 85px
    // +md
    //   margin-bottom: 50px
    // +sm
    //   margin-bottom: 40px

  &__back-btn
    // margin-top: 85px
.info-section-block
  $block: &
  &__head
    margin-bottom: 4px
  &_small-text-width
    #{$block}__text
      max-width: 230px
      +lg
        max-width: 210px