.projects
  &.section
    padding-top: 0
.projects-head
  background-color: rgba($l-red, 0.5)
  padding: 82px 0 455px
  +xl
    padding-bottom: 32vw
  +sm
    padding-bottom: 36vw
.projects-grid-wrapper
  margin-top: -360px
  display: flex
  flex-direction: column
  gap: 76px
  +xl
    margin-top: -26vw
  +sm
    margin-top: -22vw
  &__load-more
    text-align: center
.project-item
  width: 100%
  +hover
    .btn-simple__inner
      &::after
        transform: scaleX(1)


.project-img
  position: relative
  // height: 0
  margin-bottom: 24px
  padding-bottom: 56.25%
  +md
    margin-bottom: 16px
  +sm
    margin-bottom: 12px
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
  &--square
    padding-bottom: 100%
  &--vertical
    padding-bottom: 180.33%
.project-block
  display: flex
  width: 100%
  gap: 80px
  +lg
    gap: 60px
  +md
    gap: 40px
  +sm
    flex-direction: column
  &__inner
    width: 100%
    display: flex
    flex-direction: column
    gap: 80px
    +lg
      gap: 60px
    +md
      gap: 40px
    .teasers-item
      &:first-child
        margin-top: 12.5%
        +sm
          margin-top: 0
  &--two-cols
    .project-item
      &:first-child
        margin-top: 9.5%
        +sm
          margin-top: 0
  &--single-side-view
    .project-item
      width: 75%
      +sm
        width: 100%
    .project-img
      padding-bottom: 62.5%
  &.is-reversed
    flex-direction: row-reverse
    +sm
      flex-direction: column-reverse
  &.is-hidden
    display: none

