.quote
  // p
  //   &:not(:last-of-type)
  //     margin-bottom: 0.5em

  &__content
    margin: 35px 0
    text-align: center
    font-size: 48px
    line-height: 1.25

    +lg
      margin: 30px 0
      font-size: 36px
      line-height: 1.277

    +sm
      margin: 25px 0
      font-size: 24px
      line-height: 1.25
  &__decor
    height: 4px
    background: $red
    +sm
      height: 2px