.simple-gallery
  $this: &
  display: block
  overflow: hidden
  &__headline
    margin-bottom: 95px
    +lg
      margin-bottom: 80px
    +sm
      margin-bottom: 30px
  &__slider
    position: relative
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 32%
      height: 1500px
      width: 110vw
      transform: translate(-50%)
      background: rgba($l-red, 0.5)
      z-index: 0
      pointer-events: none
      .headline
        &__title, &__item
          color: $white
  &__slide-inner
    display: block
    font-size: 0
    position: relative
    width: 100%
    +hover
      .btn-simple__inner
        &::after
          transform: scaleX(1)
  &__bg
    position: relative
    z-index: 0
    width: 100%
    height: 100%
    +aspect-ratio(1536/880)
    +grid
      +aspect-ratio(1406/805)
    +lg
      +aspect-ratio(950/545)
    +md
      +aspect-ratio(711/408)
    +sm
      // +aspect-ratio(294/169)
      +aspect-ratio(294/190)
    &:after
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      display: block
      content: ''
      z-index: 2
      +coverdiv
      mix-blend-mode: multiply
      // background: $red
      background: rgba($black, var(--overlay-index))
      transition: opacity $ease, background $ease
      // opacity: 0
      +is-touch
        // background: rgba(#000, 0.2)
        background: rgba($black, var(--overlay-index))
    img
      position: absolute
      z-index: 0
      top: 0
      left: 0
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    .title_line-offscreen:before
      display: none
  &__pagination
    margin-top: 120px
    +lg
      margin-top: 75px
  &--full-bg
    background: rgba($l-red, 0.5)
    #{$this}__slider
      &::after
        display: none
  &--no-bg
    #{$this}__slider
      &::after
        display: none
  .headline
    &__title, &__item
      transition: color $ease
  .btn-simple
    &__inner
      transition: color $ease
      &:after
        transition: transform $ease, background $ease
    &__svg
      svg
        transition: fill $ease

  &__btn
    margin-top: 24px
    .btn-simple__inner
      align-items: flex-start
    .btn-simple__svg
      +sm
        top: -1px
