.swiper-scroller-wrapper
  position: relative
  z-index: 1
  padding-bottom: 2px
  overflow: hidden

  // .m-container
  //   +sm
  //     padding: 0
      
.swiper-scroller
  $this: &

  &__content
    width: 100%

  &.is-scrolled
    #{$this}__bar
      display: block

    .swiper-container
      cursor:  url('../img/drag-arrow.png') 25 10, auto
      cursor: image-set( '../img/drag-arrow.png' 1x, '../img/drag-arrow@2x.png' 2x), auto

      +is-safari
        cursor: image-set( '../img/drag-arrow.png' 1x, '../img/drag-arrow@2x.png' 2x), auto!important
      +is-ms
        cursor: ew-resize

  &__bar
    position: relative
    width: 290px
    height: 1px 
    margin: 109px auto 0
    background: $d-red-full
    display: none

    +lg
      margin-top: 80px

    +md
      margin-top: 60px
      
    +sm
      margin-top: 40px

  &__bar-progress
    position: absolute
    left: 0
    top: -2px
    height: 8px
    background: $red
    width: 70px
    transform-origin: 0 0
