.table-section
  background-color: $d-red

  &__title
    font-family: "ReplicaStd","sans-serif"
    margin-bottom: 56px
    color: $red

    +lg
      margin-bottom: 48px
    +sm
      margin-bottom: 32px

  .description
    margin-bottom: 80px

    +lg
      margin-bottom: 64px
    +sm
      margin-bottom: 48px

  .table

    &__headline
      margin-bottom: 20px
      text-transform: uppercase
      font-size: 18px

      +sm
        margin-bottom: 16px

    &__body
      border-top: 6px solid $red

    &__row
      +sm
        flex-direction: column

    &__cell
      font-family: "ReplicaStd","sans-serif"
      height: 100%
      border-bottom: 1.5px solid $red
      padding: 24px 0
      flex: 1

      +lg
        padding: 16px 0

    .col:first-child
      & > .table__cell
        +sm
          border-bottom: none
          padding-bottom: 0
          font-family: "ReplicaStd-Bold","sans-serif"
