.teaser-gallery
  display: block
  overflow: hidden
  background: rgba($l-red, 0.5)
  &__headline
    margin-bottom: 80px
    +lg
      margin-bottom: 60px
    +sm
      margin-bottom: 30px
  &__slider
    position: relative

  &__slide-inner
    font-size: 0
    position: relative
    width: 100%
    +aspect-ratio(1536/880)
    +grid
      +aspect-ratio(1406/805)
    +lg
      +aspect-ratio(950/545)
    +md
      +aspect-ratio(711/408)
    +sm
      +aspect-ratio(294/165)
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      // background: linear-gradient(90deg, #000000 0%, rgba(48, 48, 48, 0.75) 39.31%, rgba(0, 0, 0, 0) 88.48%)
      background: rgba($black, var(--overlay-index))
      // z-index: 1
    img
      position: absolute
      display: block
      left: 0
      top: 0
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    position: absolute
    left: 0
    top: 50%
    width: 100%
    transform: translate3d(0, -50%, 0px)
    z-index: 2
    // +grid
    //   transform: translate3d(0, -74%, 0px)
    // +lg
    //   transform: translate3d(0, -64%, 0px)
    // +md
    //   transform: translate3d(0, -59%, 0px)
    // +sm
    //   transform: translate3d(0, -46%, 0px)
  &__pagination
    margin-top: 75px
    +lg
      margin-top: 65px
    +sm
      margin-top: 16px
    // .pag-btn
    //   &:not(.swiper-pagination-bullet-active)
    //    .pag-btn__line
    //       background: $redBerry
