.teaser-boxes
  &__head
    margin-bottom: 80px
    text-align: center
    +lg
      margin-bottom: 60px
    +sm
      margin-bottom: 50px
  &__gallery-wrapper
    +sm
      // margin-left: calc(10px  + ((100vw - (10px * 2)) / #{$cols_mob}) * 1 + 3px)
      // margin-right: 13px
    .swiper-container
      &.is-swipe
        cursor: grab
    .swiper-wrapper
    .swiper-slide
      width: 440px
      margin-right: 80px
      &:first-child
        margin-left: calc(50vw - 768px  + ((1536px / #{$cols_pc}) * 2))
        +grid
          margin-left: calc(136px + (((100vw - (136px * 2)) / #{$cols_pc}) * 2) + 5px)
        +xx
          margin-left: calc(50vw - 703px  + ((1406px / #{$cols_pc}) * 2))
        +r(1480)
          margin-left: calc(32px  + ((100vw - (32px * 2)) / #{$cols_pc}) * 2 + 5px)
        +md
          margin-left: calc(24px  + ((100vw - (24px * 2)) / #{$cols_pc}) * 2 + 5px)
        +sm
          margin-left: calc(10px  + ((100vw - (10px * 2)) / #{$cols_mob}) * 1 + 3px)
          padding-left: 0
      &:last-child
        +sm
          margin-right: 20px
      +xl
        margin-right: 50px
      +lg
        width: 380px
      +md
        margin-right: 40px
        // width: 300px
        width: 37vw
      +sm
        margin-right: 0px
        padding-left: 20px
        // width: 300px
        width: 78vw
.teaser-box
  $this: &
  position: relative
  box-sizing: border-box
  overflow: hidden
  display: block
  +hover
    .btn-simple__inner
      &::after
        transform: scaleX(1)
    #{$this}__img
      img
        transform: translate3d(-50%, -50%, 0) scale(1.06)

  &__date
    margin-bottom: 18px
    +sm
      margin-bottom: 12px
      font-size: 12px
  &__img
    position: relative
    margin-bottom: 23px
    +aspect-ratio(440/280)
    overflow: hidden
    +sm
      margin-bottom: 12px
    // &:after
    //   content: ''
    //   position: absolute
    //   left: 0
    //   top: 0
    //   width: 100%
    //   height: 100%
    //   z-index: 1
    //   background: rgba($black, var(--overlay-index))
    img
      position: absolute
      display: block
      left: 50%
      top: 50%
      transform: translate3d(-50%, -50%, 0) scale(1.01)
      width: 100%
      height: 100%
      transform-origin: 50% 50%
      z-index: 0
      transition: transform 0.3s $easing
      object-fit: cover
  &__btn
    .btn-simple__inner
      align-items: flex-start
    .btn-simple__svg
      +sm
        top: -1px

