.video-section
  $this: &

  &__inner
    font-size: 0
    position: relative
    +aspect-ratio(1278/720)
    width: 100%
    +lg
      +aspect-ratio(790/450)
    +md
      +aspect-ratio(590/340)
    +sm
      +aspect-ratio(294/165)
  &__bg-video-wrapper
    +coverdiv
    cursor: pointer
    position: absolute
    display: block
    left: 0
    top: 0
    user-select: none
    &[data-autoplay="true"]
      cursor: default
      pointer-events: none
    .plyr
      width: 100%
      height: 100%
      video
        object-fit: cover
    +hover
      #{$this}__play-btn
        opacity: 1
        svg
          fill: $red

    &.is-play
      +hover
        #{$this}__pause-btn
          opacity: 0.5

  &__bg-video-poster
    +coverdiv
    position: absolute!important
    z-index: 2!important
    transition: opacity $ease
    pointer-events: none
    &::before
      content: ''
      +coverdiv
      z-index: 3
      background: rgba($black, var(--overlay-index))
      pointer-events: none
    img
      object-fit: cover
      width: 100%
      height: 100%
    .is-play &
      opacity: 0
    .video-section__bg-video-wrapper[data-autoplay="true"] &
      display: none

  &__play-btn, &__pause-btn
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: 4
    transition: opacity $ease
    width: 80px
    height: 80px
    display: block
    opacity: 0.5
    pointer-events: none

    +sm
      width: 70px
      height: 70px
    svg
      fill: $white
      width: 100%
      height: 100%
      transition: fill $ease
    .video-section__bg-video-wrapper[data-autoplay="true"] &
      display: none
  &__play-btn
    .is-play &
      opacity: 0!important
  &__pause-btn
    opacity: 0

  .plyr
    &::before
      content: ''
      +coverdiv
      z-index: 3
      background: rgba($black, var(--overlay-index))
      pointer-events: none
    &__video-wrapper
    &__controls
      // display: none!important
    &__control
      display: none!important

