---
title: About

modules: ['about']
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {% set about = [
    {
      title: 'Über uns',
      headline: 'Willkommen bei Von Guttenberg',
      headline_mode: 'headline_spec-styles',
      subheadline: '111sub Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.',
      text: [
        '222Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.'
      ]
    },
    {
      title: 'Über uns',
      headline: 'Willkommen bei Von Guttenberg',
      headline_mode: 'headline_spec-styles',
      text: [
        '1111Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.'
      ]
    },
    {
      title: 'Über uns',
      headline: 'Willkommen bei Von Guttenberg',
      quote: ['Gute, technische Isolierung beginnt im Detail. Und das Detail ist unser Fachwissen.'],
  
      text: [
        'Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.',
        'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
        'Wir sind Von Guttenberg.'
      ]
    },
    {
      title: 'Karriere',
      headline: 'Gemeinsam <br/ > erfolgreich <br/ > abliefern',
      subheadline: 'Brandschutzspezialist, Fachmann für den Trockenbau, Lagerist, LKW-Fahrerin und Auszubildende im Groß- und Außenhandel. Das ist nur eine Auswahl der bei uns möglichen Arbeits- und Ausbildungsplätze. An drei Standorten in Deutschland gibt es unter unseren Dächern Platz für neue Teammitglieder, die nächsten Spezialisten und tatkräftige Karrieremacher.',
      buttons: ['offene Stellen']
    },
    {
      title: 'Karriere',
      headline: 'Gemeinsam <br/ > erfolgreich <br/ > abliefern',
      text: [
        'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
        'Wir sind Von Guttenberg.'
      ],
      buttons: ['offene Stellen'],
      background: './img/background.jpg'
    },
    {
      title: 'Über uns',
      headline: 'Willkommen bei Von Guttenberg',
      quote: ['Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, beatae.'],
      text: [
        'Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.',
        'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
        'Wir sind Von Guttenberg.'
      ],
      buttons: ['offene Stellen', 'Lorem', 'offene Stellen']
    },
    {
      title: 'Karriere',
      headline: 'Gemeinsam <br/ > erfolgreich <br/ > abliefern',
      quote: [
        'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, beatae.',
        'Lorem'
      ],
      text: [
        'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
        'Wir sind Von Guttenberg.'
      ],
      buttons: ['offene Stellen'],
      background: './img/background.jpg',
      textColor: 'light'
    },
    {
      title: 'Über uns',
      headline: 'Willkommen bei Von Guttenberg',
      subheadline: 'Brandschutzspezialist, Fachmann für den Trockenbau, Lagerist, LKW-Fahrerin und Auszubildende im Groß- und Außenhandel. Das ist nur eine Auswahl der bei uns möglichen Arbeits- und Ausbildungsplätze. An drei Standorten in Deutschland gibt es unter unseren Dächern Platz für neue Teammitglieder, die nächsten Spezialisten und tatkräftige Karrieremacher.',
      quote: ['Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, beatae.'],
      text: [
        'Wir sind der leistungsstarke Macher. Mit den kürzeren Reaktionszeiten, den passenderen Lösungen und dem zuverlässigeren Service. Immer hungrig  nach fordernden Kunden und Projekten.',
        'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
        'Wir sind Von Guttenberg.'
      ],
      buttons: ['offene Stellen', 'Lorem']
    }
  ]%}

  {% include './partials/_about.html' %}

{% endblock %}