---
title: Grid
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="m-container">
  <div class="row">
    <div class="col col-12  col-xl-8 col-sm-4"><div>Lorem ipsum dolor sit amet.</div></div>
    <div class="col col-12  col-xl-8 col-xl-push-8 col-sm-4 col-sm-push-0"><div>Lorem ipsum dolor sit amet.</div></div>
    <div class="col col-12  col-xl-8 col-sm-4"><div>Lorem ipsum dolor sit amet.</div></div>
  </div>
</div>
  <!-- begin m-container -->
  <div
    class="m-container"
    style="
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
      width: 100%;
    "
  >
    <span>Ctrl + G</span>
  </div>
  <!-- end m-container -->

{% endblock %}
