---
title: images
modules: ['combo2']
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>

  .title + .row{
    margin-top: 30px
  }
  .textual {
    margin-bottom: 30px;
  }

  .container {
    margin: 50px 0;
  }
</style>
<div class="container">
    <div class="m-container">
        <h2 class="title">.combo-block .combo-block_xl</h2>
        <div class="textual"><a href="https://hwdesign.invisionapp.com/d/#/console/17882250/370930007/inspect">(LINK TO LAYOUT)</a>
           960+ and smaller - the size is not on the grid, there is no adaptation yet
        </div>
      <div class="row">
          <div class="col col-14 ">
              <div class="combo-block combo-block_xl">
                <div class="combo-block__inner">
                  <div class="combo-block__img-wrap">
                    <img src="img/combo2/1.jpg" alt=""/>
                  </div>
                  <div class="textual textual_sm textual_mono combo-block__text">
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, dolorem itaque consequatur animi nulla nostrum, totam cupiditate quis necessitatibus quo repellat ab facilis obcaecati sapiente architecto et officia. Eum, cum.
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="m-container">
      <h2 class="title">.combo-block .combo-block_lg</h2>
    <div class="row">
        <div class="col col-11  col-lg-15 col-sm-12">
            <div class="combo-block combo-block_lg">
              <div class="combo-block__inner">
                <div class="combo-block__img-wrap">
                  <img src="img/combo2/1.jpg" alt=""/>
                </div>
                <div class="textual textual_sm textual_mono combo-block__text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, dolorem itaque consequatur animi nulla nostrum, totam cupiditate quis necessitatibus quo repellat ab facilis obcaecati sapiente architecto et officia. Eum, cum.
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-container">
    <h2 class="title">.combo-block .combo-block_l</h2>
    <div class="row">
        <div class="col col-10  col-lg-14  col-md-16 col-sm-12 ">
            <div class="combo-block combo-block_l">
              <div class="combo-block__inner">
                <div class="combo-block__img-wrap">
                  <img src="img/combo2/1.jpg" alt=""/>
                </div>
                <div class="textual textual_sm textual_mono combo-block__text">
                    Lorem ipsum dolor sit amet, sed diam nonumy 
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="m-container">
      <h2 class="title">.combo-block .combo-block_m</h2>
      <div class="textual">
          there is no adaptation yet
     </div>
      <div class="row">
          <div class="col col-8   ">
              <div class="combo-block combo-block_m">
                <div class="combo-block__inner">
                  <div class="combo-block__img-wrap">
                    <img src="img/combo2/1.jpg" alt=""/>
                  </div>
                  <div class="textual textual_sm textual_mono combo-block__text">
                      Lorem ipsum dolor sit amet, sed diam nonumy 
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="m-container">
        <h2 class="title">.combo-block .combo-block_sm</h2>
        <div class="textual">
            there is no adaptation yet
         </div>
        <div class="row">
            <div class="col col-6   ">
                <div class="combo-block combo-block_sm">
                  <div class="combo-block__inner">
                    <div class="combo-block__img-wrap">
                      <img src="img/combo2/1.jpg" alt=""/>
                    </div>
                    <div class="textual textual_sm textual_mono combo-block__text">
                        Lorem ipsum dolor sit amet, sed diam nonumy 
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="m-container">
      <h2 class="title">.combo-block .combo-block_xs</h2>
      <div class="row">
          <div class="col col-4 col-sm-12 ">
              <div class="combo-block combo-block_xs">
                <div class="combo-block__inner">
                  <div class="combo-block__img-wrap">
                    <img src="img/combo2/1.jpg" alt=""/>
                  </div>
                  <div class="textual textual_sm textual_mono combo-block__text">
                      Lorem ipsum dolor sit amet, sed diam nonumy 
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
