---
title: Components
---
{% extends "layouts/_layout.html" %}

{% block content %}

<style>
  h2 {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
  }

  a {
    text-transform: capitalize;
  }
</style>

<div
  style="
    padding: 50px;
  "
>
  <h2>UI</h2>

  {% set elements = [
    'title',
    'buttons',
    'controls',
    'images'
  ] %}

  <div style="margin-bottom: 50px;">
    <ul>
      {% for item in elements %}
      <li><a href="./{{ item }}.html">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <h2>Modules</h2>

  {% set components = [
    'grid',
    'header',
    'headline',
    'hero',
    'quote',
    'quote-banner',
    'image',
    'image-with-title',
    'services',
    'simple-gallery',
    'teaser-gallery',
    'gallery',
    'key-figures',
    'history',
    'combo',
    'combo1',
    'combo2',
    'teaser-boxes',
    'info-section',
    'interview',
    'list-block',
    'client-list',
    'contacts',
    'locations',
    'column-text',
    'job-listing',
    'downloads',
    'footer',
    'back-section',
    'video-section',
    'table',
    'news',
    'projects',
    'home-news',
    'form-section',
    'simple-hero'
  ] %}

  <div style="margin-bottom: 50px;">
    <ul>
      {% for item in components %}
      <li><a href="./{{ item }}.html">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>


  <h2>Old Modules</h2>

  {% set components = [
    'hero-slider',
    'hero-image',
    'about',
    'about-label',
    'expertise',
    'offers',
    'cases',
    'logo-wall',
    'combo-text',
    'test-page',
    'job-offer-page',
    'huge-teaser'

  ] %}

  <div style="margin-bottom: 50px;">
    <ul>
      {% for item in components %}
      <li><a href="./{{ item }}.html">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <h2>Scrolling</h2>

  <div>
    <ul>

      <li><a href="./link-simple-scroll-to.html">simple scroll to</a></li>

    </ul>
  </div>
</div>

{% endblock %}
