---
title: link-page
modules: ['header']
---
{% extends "layouts/_layout.html" %}


{% block content %}
{% include './partials/_header.html' %}
  <div class="wrap" style="padding-top: 200px">
    <div  class="m-container" style="  height: 100vh;  width: 100%; background: green" id="1">
      111111Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
    </div>
    <div  class="m-container" style="  height: 100vh;  width: 100%; background: blue" id="2">
     22222Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
    </div>
    <div  class="m-container" style="  height: 100vh;  width: 100%; background: yellow" id="3">
      33333Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
     </div>
     <div  class="m-container" style="  height: 100vh;  width: 100%; background: yellow" >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
     </div>
     <div  class="m-container" style="  height: 100vh;  width: 100%; background: blue" >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
     </div>
     <div  class="m-container" style="  height: 100vh;  width: 100%; background: green" >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
     </div>
     <div  class="m-container" style="  height: 100vh;  width: 100%; background: blue" >
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
     </div>

     <div  class="m-container" style="  height: 100vh;  width: 100%; background: yellow" id="4">
        44444Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti modi iusto explicabo reiciendis nemo cumque recusandae, optio ipsam veritatis tempora dolores, porro soluta, id aliquid omnis. Ad nobis maiores cupiditate!
       </div>
  </div>
<div class="links" style="
  position: fixed;
  left: 30px;
  top: 250px;
  z-index: 1;
  background: #fff;
  max-width: 150px;
">
  <p><a href="#1">1 section</a></p>
  <p><a class="js-test-url-link" href="#2">2 section, url</a></p>
  <p><a href="#3">3 section</a></p>
  <p><a href="#4">4 section</a></p>
  <p><a class="js-test-url-link2" href="" >other page</a></p>
</div>

<script>
  var urlLink = document.querySelector('.js-test-url-link');
  var finalUrl = window.location.href + '#2'
  urlLink.setAttribute('href', finalUrl)


  var urlLink2 = document.querySelector('.js-test-url-link2');
  var finalUrl2 = window.location.origin + '/build/link-other-page.html#33434'
  urlLink2.setAttribute('href', finalUrl2)
</script>

{% endblock %}
