---
title: Services
modules: ['services']
scripts: ['services']
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% set data = {
  title: 'Unsere Leistungen',
  headline: 'Damit es <br/> läuft',
  subheadline: 'Ob in Sachen Trockenbau, technischer Isolierung, Brandschutz, Dach & Fassade oder OEM: Wir liefern für Ihr Bauvorhaben die richtige Beratung und das richtige Produkt – unkompliziert, sicher und schnell.',
  boxes: [
    {
      title: 'Trockenbau',
      headline: 'Alles <br/ >Rundum <br/> trocken',
      text: 'Alles für Wand, Decke und Boden in Trockenbauweise.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Technische Isolierung',
      headline: 'Immer <br/ >richtig <br/> isoliert',
      text: 'Individuelle Produkte für Wärme, Kläte und Schallschutz',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: 'Immer <br/> brand',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '4Rundum <br/> trocken',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '5Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '6Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Technische Isolierung',
      headline: '7Immer <br/ >richtig <br/> isoliert',
      text: 'Individuelle Produkte für Wärme, Kläte und Schallschutz',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '8Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '9Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '10Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '11Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    }
  ]
} %}
{% include "./partials/_services.html" %}
{% set data = {
  mode: 'services_light',
  subheadline: 'Ob in Sachen Trockenbau, technischer Isolierung, Brandschutz, Dach & Fassade oder OEM: Wir liefern für Ihr Bauvorhaben die richtige Beratung und das richtige Produkt – unkompliziert, sicher und schnell.',
  boxes: [
    {
      title: 'Trockenbau',
      headline: 'Alles <br/ >Rundum <br/> trocken',
      text: 'Alles für Wand, Decke und Boden in Trockenbauweise.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Technische Isolierung',
      headline: 'Immer <br/ >richtig <br/> isoliert',
      text: 'Individuelle Produkte für Wärme, Kläte und Schallschutz',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: 'Immer <br/> brand',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '4Rundum <br/> trocken',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '5Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    }
  ]
} %}
{% include "./partials/_services.html" %}

{% endblock %}
