---
title: simple gallery
scripts: ['simple-gallery']
modules: ['simple-gallery']

---

{% set simpleGallery = {
  headline: {
    title: 'Unsere Projekte',
    mode: 'row_inner simple-gallery__headline',
    headline: 'Überall im <br/> Einsatz',
    subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.',
    btn: {
      title: 'Mehr erfahren'
    }
  },
  slides: [
    {
      src: 'img/simple-gallery/1.jpeg',
      alt: 'alt',
        headline: {
      mode: 'headline_lovercase-main headline_inner headline_light headline_break-tablet-words',
      rowInner: true,
      colClasses: 'col-20-16 col-20-push-2 col-sm-11 col-sm-push-1',
      title: 'Akkorde Präsidentenpalast',
      titleSize: 'title_md',
      headline: 'Das Rundum-Sorglos-Paket für den <br/> kasachischen Präsidenten',
      btn: {
        title: 'Mehr erfahren'
      }
    }
    },  {
      src: 'img/simple-gallery/1.jpeg',
      alt: 'alt',
        headline: {
      mode: 'headline_lovercase-main headline_inner headline_break-tablet-words',
      title: 'Akkorde Präsidentenpalast',
       rowInner: true,
       colClasses: 'col-20-16 col-20-push-2 col-sm-11 col-sm-push-1',
      titleSize: 'title_md',
      headline: 'Das Rundum-Sorglos-Paket für den <br/> kasachischen Präsidenten',
      btn: {
        title: 'Mehr erfahren'
      }
    }
    },  {
      src: 'img/simple-gallery/1.jpeg',
      alt: 'alt',
        headline: {
      mode: 'headline_lovercase-main headline_inner headline_light headline_break-tablet-words',
      title: 'Akkorde Präsidentenpalast',
       rowInner: true,
       colClasses: 'col-20-16 col-20-push-2 col-sm-11 col-sm-push-1',
      titleSize: 'title_md',
      headline: 'Das Rundum-Sorglos-Paket für den <br/> kasachischen Präsidenten',
      btn: {
        title: 'Mehr erfahren'
      }
    }
    }
  ]
}%}
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include './partials/_simple-gallery.html' %}
  {% set simpleGalleryMode = 'simple-gallery--full-bg' %}
  {% include './partials/_simple-gallery.html' %}
  {% set simpleGalleryMode = 'simple-gallery--no-bg' %}
  {% include './partials/_simple-gallery.html' %}
{% endblock %}
