---
title: teaser-box
scripts: ['hero-slider', 'services', 'gallery', history]
modules: ['hero-slider', 'header', 'services', 'gallery', 'history', 'about']

data: {
  title: 'Mehr machen',
  headline: 'Wir tragen <br/> Verantwortung'
}

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% set data = {
  title: 'Unsere Leistungen',
  headline: 'Damit es <br/> läuft',
  subheadline: 'Ob in Sachen Trockenbau, technischer Isolierung, Brandschutz, Dach & Fassade oder OEM: Wir liefern für Ihr Bauvorhaben die richtige Beratung und das richtige Produkt – unkompliziert, sicher und schnell.',
  boxes: [
    {
      title: 'Trockenbau',
      headline: '1Rundum <br/> trocken',
      text: 'Alles für Wand, Decke und Boden in Trockenbauweise.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Technische Isolierung',
      headline: '2Immer <br/ >richtig <br/> isoliert',
      text: 'Individuelle Produkte für Wärme, Kläte und Schallschutz',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '3Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '4Rundum <br/> trocken',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '5Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '6Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Technische Isolierung',
      headline: '7Immer <br/ >richtig <br/> isoliert',
      text: 'Individuelle Produkte für Wärme, Kläte und Schallschutz',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '8Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '9Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '10Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    },
    {
      title: 'Brandschutz',
      headline: '11Immer <br/> brand <br/> aktuell',
      text: 'Alles für den baulichen Brandschutz.',
      btn: 'Mehr erfahren'
    }
  ]
} %}

{% set about = [
  {
    title: 'Karriere',
    mode: 'js-parallax',
    headline: 'Gemeinsam <br/ > erfolgreich <br/ > abliefern',
    quote: [
      'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, beatae.',
      'Lorem'
    ],
    text: [
      'Wir leben echte Partnerschaft statt falsche Versprechen.  Wir sind der Fachhandel der Wahl, wenn es drauf ankommt.',
      'Wir sind Von Guttenberg.'
    ],
    buttons: ['offene Stellen'],
    background: './img/background.jpg',
    textColor: 'light'
  }
]%}
<div class="links" style="
  position: fixed;
  left: 30px;
  top: 250px;
  z-index: 9999;
  background: #fff;
  max-width: 150px;
">
  <p><a href="#services_scroll">services_scroll</a></p>
  <p><a href="#history_scroll">history_scroll</a></p>
  <p><a href="#gallery_scroll">gallery_scroll</a></p>
</div>


  {% include './partials/_header.html' %}
  {% include './partials/_hero-image.html' %}
  {% include './partials/_services.html' %}
  {% include './partials/_about.html' %}
  {% include './partials/_history.html' %}
  {% include './partials/_gallery.html' %}


{% endblock %}
