.job-offer-page
  &__btns
    margin-top: 62px
    display: flex
    justify-content: space-between
    align-items: center

    +sm
      display: block
      margin-bottom: 45px


  &__btns-group
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: flex-end

    +sm
      display: block
      margin-top: 70px

    div
      text-align: right


  .headline
    margin-bottom: 0px
