{% for item in about %}
<!-- begin about -->
<section class="section about{% if item.textColor %} about_text-color-{{ item.textColor }}{% endif %} {% if item.mode %} {{ item.mode }}{% endif %}" {% if item.background %}style="background-image: url('{{ item.background }}')"{% endif %} data-aos="fade" {% if item.mode %} data-img-loaded="true"{% endif %}>
  <div class="m-container">
    <div class="row">
      <div class="col col-2 col-md-1 col-sm-1"></div>
      <div class="col col-16 col-lg-20 col-md-22 col-sm-11">
        {% set headline = {
          title: item.title,
          headline: item.headline,
          subheadline: item.subheadline,
          mode: item.headline_mode
        } %}
        {% include './_headline.html' %}

        {% if item.quote %}
        <div class="quote about__quote">
          {% for paragrap in item.quote %}
          <p>{{ paragrap }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <div class="textual textual_size-xl about__textual">
          {% for paragraph in item.text %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
        {% if item.buttons %}
        <div class="about__buttons">
          {% for btn in item.buttons %}
          <a href="#" class="btn about__btn">
            <span class="btn__in">
              <span class="btn__text">
                <span class="btn__icon btn__icon_left">
                  <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                </span>
                {{ btn }}
                <span class="btn__icon btn__icon_right">
                  <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                </span>
              </span>
            </span>
            {% if item.btnCounter %}
              <span class="btn__counter" title="3">3</span>
            {% endif %}
          </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- end about -->
{% endfor %}
