<section class="section">
  <div class="m-container">
    <div class="row">
      <div class="col col-24 col-lg-22 col-lg-push-1 col-sm-11 col-sm-push-0">
        <div class="back-btn-wrapper">
            <button  class="btn btn_back js-back-history">
                <span class="btn__in">
                  <span class="btn__text">
                    <span class="btn__icon btn__icon_left">
                      <span class="btn__svg">{{ mixins.icon('arrow-small-left') }}</span>
                    </span>
                    zurück
                    <span class="btn__icon btn__icon_right">
                      <span class="btn__svg">{{ mixins.icon('arrow-small-left') }}</span>
                    </span>
                  </span>
                </span>
            </button>
         </div>
      </div>
    </div>
  </div>


</section>