<!-- begin client-list -->
<section class="section client-list js-client-list {% if clientList.mode %}{{clientList.mode}}{% endif %}" data-aos="fade" >

  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2 col-sm-10 col-sm-push-1">
      	<h2 class="client-list__head pseudo-btn pseudo-btn_red">Unsere Handelspartner</h2>
		 		<div class="client-list__grid client-list__grid_main js-client-list-grid">
		 			{% for item in clientList.grid %}
		 			<div class="client-list__grid-item js-client-list-grid-item">
		 				<img src="{{item.img}}" alt="alt"/>
		 			</div>
		 		{% endfor %}
		 		</div>
		 		<div class="client-list__slider-wrap js-client-list-gallery-wrapper">
			 		<div class="client-list__slider">
	            <div class="swiper-container js-client-list-slider">
	                <div class="swiper-wrapper js-client-list-slider-wrapper">
	                </div>
	            </div>
	        </div>
     			<div class="client-list__pagination pagination pagination_simple swiper-pagination js-client-list-gallery-pagination is-active "></div>
		 		</div>
      </div>
    </div>

  </div>
</section>
<!-- end client-list -->