<!-- begin contacts -->
<section class="section contacts">
 {% set headline = data.headline %}
  {% include './_headline.html' %}
  <div class="m-container">
    <div class="row">
 
      <div class="col col-20 col-push-2 col-sm-11 col-sm-push-1">
       
        <div class="row row_inner contacts__boxes">
          {% for item in data.boxes %}
          <div class="col col-20-6 col-20-md-9 col-sm-12 contacts__box">
            <div class="contacts__box-row">
              <div class="contacts__box-img">
                <img src="{{ item.image }}" alt="{{ item.name }}" />
              </div>
              <div class="textual textual_x textual_bold contacts__box-name">{{ item.name }}</div>
              <div class="textual textual_l textual_mono contacts__box-career">{{ item.career | safe }}</div>  
            </div>
             {% if item.tel %}
            <div class="textual textual_l textual_mono contacts__box-links">
              <a href="tel:{{ item.tel }}" class="contacts__link">{{ item.tel }}</a>
              <a href="mailto:{{ item.email }}" class="link contacts__link">{{ item.email }}</a>
            </div>
            {% endif %}
            {% if item.btn %}
              <div class="contacts__btn">
                {% set button = item.btn %}
                {% include './_btn-simple.html' %}
              </div>
            {% endif %}

            
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end contacts -->
