{% set downloads = [
  {
    title: 'Preisanpassungen',
    mode: 'is-active',
    navMode: 'is-active',
    btn_mode: 'is-rotate'
  },
  
  {
    title: 'Preislisten',
    mode: '',
    more: true
  },
  {
    title: 'Kataloge',
    mode: ''
  },
  {
    title: 'News',
    mode: ''
  }

] %}


{% set downList = [
  {
    mode: 'small round blue red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'small round yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'small square red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'small square blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'small square yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'small round blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'wide round red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'wide round blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'wide round yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'wide square red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'wide square blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'wide square yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'big round red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'big round blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'big round yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'big square red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'big square blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'big square yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'tall round red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'tall round blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'tall round yellow',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'tall square red',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },
   {
    mode: 'tall square blue',
    text: 'Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  },{
    mode: 'tall square yellow',
    text: 'LAST Preiserhoehung-Technik-2022-Stand-21.07.2022.pdf',
    size: '473.69 KB'
  }
] %}


<section class="section downloads-section"  data-aos="fade">
  <!-- BEGIN downloads -->
<div class="downloads js-downloads">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2 col-md-24 col-md-push-0 col-sm-10 col-sm-push-1">
        <div class="downloads__inner">
          <ul class="downloads__tabs-nav js-downloads-tab-nav">
          {% for item in downloads %}
            <li>
              {# !!! data-index should start from 0 #}
              <button class="js-downloads-tab-nav-btn {{item.navMode}}" data-index="{{ loop.index - 1 }}">{{ item.title }}</button>
            </li>
          {% endfor %}
          </ul>
       
          <div class="accordions-wrap js-doownloads-accordion">
              {% for item in downloads %}
                {# !!! data-index should start from 0 #}
              <div class="accordion accordion_download js-accordion {{ item.mode }}" data-index="{{ loop.index - 1 }}">
                <div class="accordion__head js-accordion-btn">
                  <div class="accordion__title textual textual_size-xl">{{ item.title }}</div>
                  <div class="controls controls_type-square controls_sm  accordion__btn {{ item.btn_mode }}"><i>{{ mixins.icon('plus') }}</i></div>
                </div>
                {# !!! data-index should start from 0 #}
                  <div class="accordion__content js-accordion-content" data-index="{{ loop.index - 1 }}">
                  <div class="accordion__content-wrapper js-accordion-content-wrapper">
                         <div class="downloads__selects">
                      <div class="downloads__select">
                        <select class="filter-select js-download-filter-select" value-group="color">
                          <option value="">Alle Jahre lle Jahre lle Jahre</option>
                          <option value=".red">red</option>
                          <option value=".blue">blue</option>
                          <option value=".yellow">yellow</option>
                          <option value=".empty-color">empty-color</option>
                          <option value=".blue">blue</option>
                          <option value=".yellow">yellow</option>
                          <option value=".empty-color">empty-color</option>
                          <option value=".blue">blue</option>
                          <option value=".yellow">yellow</option>
                          <option value=".empty-color">empty-color</option>
                        </select>
                      </div>

                      <div class="downloads__select">
                        <select class="filter-select js-download-filter-select" value-group="size">
                          <option value="">Alle Bereiche</option>
                          <option value=".small">small</option>
                          <option value=".wide">wide</option>
                          <option value=".big">big</option>
                          <option value=".tall">tall</option>
                          <option value=".empty-shape">empty-shape</option>
                        </select>
                      </div>

                      <div class="downloads__select">
                        <select class="filter-select js-download-filter-select" value-group="shape">
                          <option value="">Alle Hersteller</option>
                          <option value=".round">round</option>
                          <option value=".square">square</option>
                        </select>
                      </div>

                      <div class="downloads__select">
                        <select class="filter-select js-download-filter-select" value-group="empty-group">
                          <option value="">Alle Produkte</option>
                          <option value=".empty-1">empty</option>
                          <option value=".empty-2">empty</option>
                        </select>
                      </div>
                    </div> 
                    <div class="downloads__reset-filter js-reset-downloads-wrapper">
                        <button class="reset-btn js-reset-downloads-btn">
                          <span class="reset-btn__svg">{{ mixins.icon('reset') }}</span>
                          <span class="reset-btn__text">
                            Filter zurücksetzen
                          </span>
                        </button>
                    </div>
                    <div class="downloads__content-inner">
                      <div class="downloads__no-results title title_xs js-reset-downloads-no-results">
                        There are no results
                      </div>   
                      <div class="downloads__isotope js-isotope-wrapper">
                         {% for i in downList %}
                        <div class="download {{ i.mode }} js-isotope-item">
                          <div class="download__name title title_xs title_normal">
                              {{ i.mode }}
                          </div>
                          <div class="download__size">
                            {{ i.size }}
                          </div>
                          <a class="download__btn" href="#" download>
                            {{ mixins.icon('download-vertical') }}
                            <span>Download</span>
                          </a>
                        </div>
                      {% endfor %}
                      {% if item.more %}
                        {% for i in downList %}
                          <div class="download {{ i.mode }} js-isotope-item" >
                            <div class="download__name title title_xs title_normal">
                                {{ i.mode }}
                            </div>
                            <div class="download__size">
                              {{ i.size }}
                            </div>
                            <a class="download__btn" href="#" download>
                              {{ mixins.icon('download-vertical') }}
                              <span>Download</span>
                            </a>
                          </div>
                        {% endfor %}
                      {% endif %}
                      </div>
                    </div>
                  </div>
               
                 
                   
                  </div>
              </div>
            {% endfor %}

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END downloads -->
</section>



                   