<!-- begin expertise -->
<section class="section expertise">
  <div class="m-container">
    <div class="row">
      <div class="col col-2 col-md-1 col-sm-1"></div>
      <div class="col col-20 col-md-22 col-sm-11">
        {% set headline = {
          title: data.title,
          headline: data.headline,
          subheadline: data.text
        } %}
        {% include './_headline.html' %}
        <div class="row row_inner expertise__boxes">
          {% for item in data.boxes %}
          <div class="col col-20-6 col-22-md-10 col-sm-12 expertise__box">
            <h4 class="expertise__box-headline">{{ loop.index }}<span class="expertise__line">&mdash;</span>{{ item.headline }}</h4>
            <div class="expertise__box-text">
              <p>
                {{ item.text }}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col col-2 col-md-1"></div>
    </div>
  </div>
</section>
<!-- end expertise -->