{% set links = [
  {
    title: 'Impressum',
    url: '#'
  },
  {
    title: 'Datenschutz',
    url: '#'
  },
  {
    title: 'AGB',
    url: '#'
  }
] %}

{# <div class="cases-mob-modal js-cases-mob-modal">
</div> #}

<!-- begin footer -->
<footer class="footer js-footer">
  <nav class="soc-list soc-list_footer footer__soc">
    <ul>
      <li><a href="#">{{ mixins.icon('linked-in') }}</a></li>
      <li><a href="#">{{ mixins.icon('instagram') }}</a></li>
      <li><a href="#">{{ mixins.icon('facebook') }}</a></li>
      <li><a href="#">{{ mixins.icon('email') }}</a></li>
    </ul>
  </nav>
    {% set headline = {
      title: 'Ihr Weg zu uns',
      mode: 'headline_light footer__headline js-footer-headline',
      headline: 'Dreimal gleich <br/> um’s Eck',
      subheadline: 'Und immer am Telefon erreichbar. Hier finden Sie all unsere Ansprechpartner und Standorte.',
      btn: {
        title: 'Kontakt Aufnehmen',
        mode: 'btn-simple_white'
      }
    } %}
    {% include './_headline.html' %}

      <div class="m-container footer__cols">
          <div class="row">
            <div class="col col-5 col-grid-5 col-xl-4 col-lg-6 col-sm-11 col-push-2 col-sm-push-1">
              <h3 class="footer__title">Unsere Standorte</h3>
            </div>
            <div class="col col-12 col-grid-14 col-xl-15 col-lg-15 col-md-20 col-sm-11 col-xl-push-1 col-lg-push-0 col-md-push-2 col-sm-push-1">
              <ul class="footer__block-list">
                <!-- FOR Back-end url example http://localhost:3000/locations.html#first-accord-id, on an accordeon id should be rendered on .js-accordion element-->
                <li>{% set button = {title: 'Amt Wachsenburg', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Hildesheim', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Aschheim Amt Wachsenburg', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Merseburg', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Flörsheim', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Möglingen', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Frankenthal', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
                <li>{% set button = {title: 'Oberhausen', mode: 'btn-simple_white'} %}{% include './_btn-simple.html' %}</li>
              </ul>
            </div>
          </div>
      </div>

      <div class="m-container">
        <div class="row">
          <div class="col col-20 col-sm-11 col-push-2 col-sm-push-1">
            <nav class="footer__bottom-links">
              {% for item in links %}
              <a href="{{ item.url }}" class="line-link footer__link">{{ item.title }}</a>
              {% endfor %}
            </nav>

          </div>
        </div>
      </div>


</footer>
<!-- end footer -->
