<section class="section form-section">
  {% set headline = {
    title: 'Erfahren, wenn es etwas Neues gibt',
    headline: 'Immer Auf dem <br/> Laufenden Sein',
    subheadline: 'Mit unserem Newsletter stellen Sie sicher, dass Sie keine Anregungen und Neuigkeiten verpassen. Melden Sie sich gleich an!'
  } %}
  {% include '../partials/_headline.html' %}
  <div class="m-container">
    <div class="row">
      <div class="col col-22 col-push-2  col-sm-11 col-sm-push-1">
        <!-- form code  -->
        {% set button = {
          title: 'Mehr erfahren',
          mode: ''
         } %}
        {% include '../partials/_btn-simple.html' %}
      </div>
    </div>
  </div>
</section>


