<!-- begin huge-teaser -->
<section class="section huge-teaser {% if teaser.mode %}{{teaser.mode}}{% endif %}">
  {% set headline = teaser.headline %}
  <div class="huge-teaser__content">
    {% include '../partials/_headline.html' %}
  </div>

  <div class="huge-teaser__img" style="--overlay-index: 0.1;">
    <img src="{{teaser.img}}" alt="alt"/>
  </div>
  {% if teaser.showScrollBtn %}
    {% include '../partials/_scroll-to-top.html' %}
  {% endif %}
</section>
<!-- end huge-teaser -->


