<section class="section image-section {{data.classes}}">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-sm-12 col-push-2 col-sm-push-0">
        <div
          {% if data.image.width %}style="max-width: {{data.image.width}}px"{% endif %}
          class="image-section__inner {% if data.image.fixedRatio == true %} fixed-ratio {% endif %}"
        >
          <img
            src="{{data.image.src}}"
            alt="{{data.image.alt}}"
          />
        </div>
        <!-- optional caption -->
         <div  class="textual textual_sm textual_mono image-section__text {% if data.image.width %}is-set-max-width{% endif %}"
         {% if data.image.width %}style="--max-text-width: {{data.image.width}}px"{% endif %}
         ><div>Lorem, ipsum. Lorem, ipsum. Lorem, ipsum. Lorem, ipsum. Lorem, ipsum.</div></div>
      </div>
    </div>
  </div>
</section>
