
{% set jobListing = [
  {
    mode: '',
    btn_mode: '',
    head_1: 'Ausbildung Kaufmann/-frau im Groß- und Außenhandelsmanagement',
    head_2: 'Trockenbau',
    head_3: 'Amt Wachsenburg Aschheim'
  },

  {
    mode: '',
    head_1: 'Ausbildung Fachlagerist',
    head_2: 'Technische Isolierung',
    head_3: 'Amt Wachsenburg'
  },
  {
    title: 'Technische Isolierung',
    mode: '',
    head_1: 'Vertrieb Innendienst',
    head_2: 'Trockenbau',
    head_3: 'Amt Wachsenburg Aschheim Frankenthal Hamburg'
  },
  {
    mode: '',
    head_1: 'Vertrieb Innen- und Außendienst',
    head_2: 'Amt Wachsenburg Aschheim Frankenthal Hamburg',
    head_3: 'Aschheim'
  },
  {
    mode: '',
    head_1: 'Fachkraft für Lagerlogistik',
    head_2: 'Trockenbau',
    head_3: 'Aschheim'
  }
] %}


<section class="section job-listing">
    {% set headline = {
    mode: 'job-listing__headline',
    title: 'Freie Stellen',
    headline: 'Jetzt <br/> Bewerben'

  } %}
  {% include '../partials/_headline.html' %}

  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-md-22 col-sm-10 col-push-2 col-sm-push-1">
        <div class="job-listing__inner">
          <div class="job-listing__main-head">
            <div class="job-listing-group job-listing-group_head job-listing-group_big">
              <div class="job-listing-group__inner">
                 <p>Stelle</p>
              </div>
            </div>
            <div class="job-listing-group job-listing-group_head">
              <div class="job-listing-group__inner">
                <p>Bereich</p>
              </div>
            </div>
            <div class="job-listing-group job-listing-group_head">
              <div class="job-listing-group__inner">
                <p>Standort</p>
              </div>

            </div>
          </div>

          <div class="accordions-wrap js-job-listing-accordion">
              {% for item in jobListing %}
                <div class="accordion accordion_job js-accordion {{ item.mode }}" data-scroll-to-open="true">
                  <div class="accordion__head js-accordion-btn">
                    <div class="job-listing-group job-listing-group_inner-head job-listing-group_big">
                      <div class="job-listing-group__inner">
                        <p class="job-listing-group__mob-head">Stelle</p>
                        <h3 class="title title_xs">{{ item.head_1 }} <span>(m/w/x)</span></h3>
                      </div>

                    </div>
                    <div class="job-listing-group job-listing-group_inner-head">
                      <div class="job-listing-group__inner">
                        <p class="job-listing-group__mob-head">Bereich</p>
                        <p class="title title_xs title_normal">{{ item.head_2 }}</p>
                      </div>

                    </div>
                    <div class="job-listing-group job-listing-group_inner-head job-listing-group_inner-head-last">
                      <div class="job-listing-group__inner">
                      <p class="job-listing-group__mob-head">Standort</p>
                      <p class="title title_xs title_normal">{{ item.head_3 }}</p>
                       <button class="controls controls_type-square controls_sm accordion__btn {{ item.btn_mode }} ">
                                {{ mixins.icon('plus') }}
                      </button>
                      </div>
                    </div>

                  </div>
                  <div class="accordion__content js-accordion-content">
                    <div class="job-listing__article article textual textual_l">
                      <h3>Beschreibung</h3>
                      <p>Wir sind der spezialisierte Fachgroßhändler für Trockenbau, WKSB-Isoliertechnik, Dämmstoffe für Dach und Fassade sowie industrielle Weiterverarbeitung. Und wir sind ein moderner Familienbetrieb, bei dem es genauso viel Platz für Karriere gibt wie für ein offenes Ohr. Für unser Team sind wir immer wieder auf der Suche nach neuen Kolleginnen und Kollegen, die sich für die Baubranche begeistern.</p>

                      <h3>Ihre Aufgaben</h3>
                      <ul>
                        <li>Sie vermitteln unseren Kunden unsere Beratungskompetenz und unser Leistungsspektrum</li>
                        <li>Sie beraten und informieren unsere Kunden im Bereich Trockenbau</li>
                        <li>Eigene Budgetverantwortung</li>
                      </ul>


                     <h3>Qualifikationen und Erfahrung</h3>
                      <ul>
                        <li>Sie sollten über Erfahrung im Bereich Baustoffgroßhandel verfügen, idealerweise im Bereich Trockenbau.</li>
                        <li>Abgeschlossene Berufsausbildung</li>
                        <li>Einsatzbereitschaft und Spaß am Verkauf</li>
                        <li>Eigenverantwortung und Motivation</li>
                        <li>Teamfähigkeit, Flexibilität und Belastbarkeit</li>
                        <li>Grundkenntnisse im Bereich des Trockenbaus</li>
                      </ul>

                      <h3>Wir bieten</h3>
                      <ul>
                         <li>Einbindung in unser motiviertes Verkaufsteam</li>
                         <li>Professionelle Einarbeitung und Unterstützung</li>
                         <li>Umfangreiche Produktschulungen auch für Branchenfremde</li>
                         <li>Selbständiges und eigenverantwortliches Arbeiten</li>
                         <li>Regelmäßige Fortbildungen</li>
                         <li>Flache Hierarchien und schnelle Entscheidungswege</li>
                         <li>Ausgezeichnete Einkommensmöglichkeiten</li>
                         <li>Motivierendes Arbeitsumfeld und interessante Mitarbeiterleistungen</li>
                      </ul>


                    </div>
                    <div class="job-listing__bottom-links">
                      {% set button = {
                        title: 'Jetzt bewerben',
                        mode: ''
                       } %}
                      <div>
                          {% include '../partials/_btn-simple.html' %}
                      </div>



                       <div>
                        <button href="#" class="btn-simple js-accordion-content-inner-close">
                          <span class="btn-simple__inner">
                              <span class="btn-simple__svg">{{ mixins.icon('arrow-small') }}</span>
                            <span class="btn-simple__text">
                              Schliessen
                            </span>
                          </span>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>


        </div>
      </div>
    </div>
  </div>
</section>
