<!-- begin key-figures -->
<section class="section key-figures {% if data.mode %}{{data.mode}}{% endif %}">
  {% set headline = data.headline %}
  {% include '../partials/_headline.html' %}

  <div class="m-container">
    <div class="row">
      <div class="col col-2"></div>
      <div class="col col-20">
        <div class="row row_inner key-figures__boxes">
          {% for box in data.boxes %}
            {% if not box.empty %}
            <div class="col col-20-6 col-20-lg-9 col-sm-12 key-figures__item">
              <div class="key-figures__box">
                <h3 class="title title_counter key-figures__box-headline">{{ box.headline }}</h3>
                <h4 class="title {% if data.subheadMode %}{{data.subheadMode}}{% else %} title_x title_mono {% endif %} key-figures__box-subheadline">{{ box.subheadline }}</h4>
                <div class="textual textual_l key-figures__box-text">
                  {{ box.text }}
                </div>
              </div>
            </div>
            {% else %}
            <span class="col col-20-6 col-20-lg-9 col-sm-12 key-figures__item is-empty"></span>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col col-2"></div>
    </div>
  </div>
</section>
<!-- end key-figures -->


