<!-- begin offers -->
<div class="offers">
  <div class="m-container">
    <div class="row">
      <div class="col col-2 col-md-1 col-sm-1"></div>
      <div class="col col-20 col-md-22 col-sm-10">
        <div class="offers__headline">
          {% include './_headline.html' %}
        </div>
        <div class="row row_inner offers__boxes">
          {% for item in data.boxes %}
          <div class="col col-20-9 {{item.mode}}  col-sm-12 offers__box">
            <!-- <div class="offers__box"> -->
              <div class="offers__box-header">
                <h4 class="title title_main offers__box-title">{{ item.title }}</h4>
                <h5 class="title title_h5 title_icon offers__box-headline">
                  <div class="title__icon">{{ mixins.icon('arrow-small') }}</div>
                  {{ item.headline | safe }}
                </h5>
                <div class="offers__box-subheadline">{{ item.subheadline }}</div>
                <div class="offers__box-text">
                  <p>
                    {{ item.text }}
                  </p>
                </div>
              </div>
              <a href="#" class="btn offers__box-btn">
                <span class="btn__in">
                  <span class="btn__text">
                    <span class="btn__icon btn__icon_left">
                      <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                    </span>
                    {{ item.btn }}
                    <span class="btn__icon btn__icon_right">
                      <span class="btn__svg">{{ mixins.icon('arrow-small') }}</span>
                    </span>
                  </span>
                </span>
              </a>
            <!-- </div> -->
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col col-2 col-md-1 col-sm-1"></div>
    </div>
  </div>
</div>
<!-- end offers -->
