<section class="section projects js-projects-section-wrapper">
  <div class="projects-head">
    {% set headline = {
      title: 'Unsere Projekte',
      titleSize: 'title_l',
      headline: 'Überall im <br/>Einsatz',
      colClasses: 'col-20 col-push-2  col-sm-11 col-sm-push-1',
      subheadline: 'Fachliche Beratung, das richtige Produkt und jetzt ab damit zum Kunden. Wir haben viele Auftraggeber, und jede Lieferung stellt uns vor eine andere Herausforderung, die wir gemeinsam lösen. Genau das kommt auch bei unseren Kunden an. Eine Auswahl unserer jüngsten Projekte.'
    } %}

    {% include '../partials/_headline.html' %}
  </div>
  <div class="content m-container">
    <div class="row">
      <div class="col col-20 col-push-2  col-sm-11 col-sm-push-1 ">
        <div class="projects-grid-wrapper">
          <div class="project-block  js-projects-item">
            <a class="project-item" href="#">
              <div class="project-item__img project-img">
                <img src="img/teasers-section/1.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Allianz Arena </span>
                </span>
              </div>
            </a>
          </div>
          <div class="project-block project-block--two-cols  js-projects-item">
            <a class="project-item" href="#">
              <div class="project-item__img project-img project-img--square">
                <img src="img/teasers-section/2.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Mehr erfahren </span>
                </span>
              </div>
            </a>
            <a class="project-item" href="#">
              <div class="project-item__img project-img project-img--square">
                <img src="img/teasers-section/3.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Bioraffinerie Leuna </span>
                </span>
              </div>
            </a>
          </div>
          <div class="project-block project-block--two-cols is-reversed js-projects-item">
            <a class="project-item" href="#">
              <div class="project-item__img project-img project-img--square">
                <img src="img/teasers-section/2.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Allianz Arena </span>
                </span>
              </div>
            </a>
            <a class="project-item" href="#">
              <div class="project-item__img project-img project-img--square">
                <img src="img/teasers-section/3.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Allianz Arena </span>
                </span>
              </div>
            </a>
          </div>
          <div class="project-block project-block--single-side-view js-projects-item is-hidden">
            <a class="project-item" href="#">
              <div class="project-item__img project-img">
                <img src="img/teasers-section/3.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Allianz Arena </span>
                </span>
              </div>
            </a>
          </div>
          <div class="project-block project-block--single-side-view is-reversed js-projects-item is-hidden">
            <a class="project-item" href="#">
              <div class="project-item__img project-img">
                <img src="img/teasers-section/3.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Allianz Arena </span>
                </span>
              </div>
            </a>
          </div>
          <div class="project-block project-block--three-items-view js-projects-item is-hidden">
            <a class="project-item" href="#">
              <div class="project-item__img project-img project-img--vertical">
                <img src="img/teasers-section/5.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Allianz Arena </span>
                </span>
              </div>
            </a>
            <div class="project-block__inner">
              <a class="project-item" href="#">
                <div class="project-item__img project-img project-img--square">
                  <img src="img/teasers-section/2.jpg" alt="alt"/>
                </div>
                <div href="#" class="btn-simple">
                  <span class="btn-simple__inner">
                    <span class="btn-simple__svg">
                      <svg class="icon icon-arrow-small">
                        <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                      </svg>
                    </span>
                    <span class="btn-simple__text"> Mehr erfahren </span>
                  </span>
                </div>
              </a>
              <a class="project-item" href="#">
                <div class="project-item__img project-img project-img--square">
                  <img src="img/teasers-section/2.jpg" alt="alt"/>
                </div>
                <div href="#" class="btn-simple">
                  <span class="btn-simple__inner">
                    <span class="btn-simple__svg">
                      <svg class="icon icon-arrow-small">
                        <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                      </svg>
                    </span>
                    <span class="btn-simple__text"> Mehr erfahren </span>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="project-block project-block--three-items-view is-reversed  js-projects-item is-hidden">
            <a class="project-item" href="#">
              <div class="project-item__img project-img project-img--vertical">
                <img src="img/teasers-section/5.jpg" alt="alt"/>
              </div>
              <div href="#" class="btn-simple">
                <span class="btn-simple__inner">
                  <span class="btn-simple__svg">
                    <svg class="icon icon-arrow-small">
                      <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                    </svg>
                  </span>
                  <span class="btn-simple__text"> Mehr erfahren </span>
                </span>
              </div>
            </a>
            <div class="project-block__inner">
              <a class="project-item" href="#">
                <div class="project-item__img project-img project-img--square">
                  <img src="img/teasers-section/2.jpg" alt="alt"/>
                </div>
                <div href="#" class="btn-simple">
                  <span class="btn-simple__inner">
                    <span class="btn-simple__svg">
                      <svg class="icon icon-arrow-small">
                        <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                      </svg>
                    </span>
                    <span class="btn-simple__text"> Mehr erfahren </span>
                  </span>
                </div>
              </a>
              <a class="project-item" href="#">
                <div class="project-item__img project-img project-img--square">
                  <img src="img/teasers-section/2.jpg" alt="alt"/>
                </div>
                <div href="#" class="btn-simple">
                  <span class="btn-simple__inner">
                    <span class="btn-simple__svg">
                      <svg class="icon icon-arrow-small">
                        <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
                      </svg>
                    </span>
                    <span class="btn-simple__text"> Mehr erfahren </span>
                  </span>
                </div>
              </a>
            </div>
          </div>
          <div class="projects-grid-wrapper__load-more">
            <button class="textual textual_xxl js-projects-more-btn">mehr laden</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
