<section class="section simple-hero">
  <div class="m-container">
    <div class="row">
      <!-- TODO for back: need to add .col-with-title when we render title and .col-without-title when we doesnt render title -->
      <div class="col col-21 col-push-2  col-sm-11 col-sm-push-1 simple-hero__text-col
      {% if hero.renderTitle == true %}col-with-title{% else %}col-without-title{% endif %}">
        <p class="simple-hero__head textual textual_md textual_mono">{{hero.head}}</p>
        {% if hero.renderTitle %}
        <h1 class="simple-hero__title title title_l">{{hero.title}}</h1>
        {% endif %}
      </div>
      <div class="col col-20 col-sm-12 col-push-2 col-sm-push-0  simple-hero__media-col">
        {% if hero.img == true %}
          <div class="simple-hero__img">
            <img src="img/combo2/1.jpg" />
          </div>
        {% else %}
          <div class="video-block simple-hero__video">
            <div class="video-block__inner">
              <div class="video-block__bg-video-wrapper js-video-wrapper" {% if hero.autoplay == true %} data-autoplay="true" {% endif %}>
                <div class="video-block__bg-video-poster">
                  <img src="img/teaser-box.jpg" alt="alt"/>
                </div>
                <video class="js-video"
                {% if hero.autoplay == true %}
                  autoplay muted loop allowfullscreen
                {% endif %}
                 playsinline>
                  <source src="img/video.mp4" type="video/mp4" />
                </video>
                {% if hero.autoplay != true %}
                  <button class="video-block__play-btn js-video-play-btn">
                    {{ mixins.icon('play') }}
                  </button>
                  <button class="video-block__pause-btn">
                    {{ mixins.icon('pause') }}
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
