<section class="section table-section">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-push-2 col-sm-11 col-sm-push-1">
        <h3 class="table-section__title pseudo-btn">
          <span>{{data.title}}</span>
        </h3>
        <div class="textual textual_xl description">{{data.description|safe}}</div>
        <h4 class="table-section__title pseudo-btn">
          <span>{{data.tableTitle}}</span>
        </h4>
        <div class="table">
          <h5 class="table__headline">{{data.table.headline}}</h5>
          <div class="table__body">
            {% for row in data.table.rows %}
    
              <div class="table__row row row_inner">
                <div class="col col col-20-7 col-20-lg-8 col-20-lg-8 col-sm-12">
                  <div class=" table__cell title title_xs">{{row[0]}}</div>
                </div>
                <div class="col col-20-13 col-20-lg-12 col-sm-12">                  
                  <div class=" table__cell title title_xs">{{row[1]}}</div>
                </div>
              </div>
    
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>