<a  href="#" class="teaser-box {{ item.mode }}">
  <p class="textual textual_l textual_mono teaser-box__date">01—2025</p>
  <div class="teaser-box__img" style="--overlay-index: 0.1;">
    <img src="{{item.img}}" alt="alt"/>
  </div>
  <div class="teaser-box__btn">
    <div class="btn-simple">
      <span class="btn-simple__inner">
        <span class="btn-simple__svg">
          <svg class="icon icon-arrow-small">
            <use xlink:href="img/sprite.svg#icon-arrow-small"></use>
          </svg>
        </span>
        <span class="btn-simple__text">Mehr erfahren Mehr erfahren Mehr erfahren</span>
      </span>
    </div>
  </div>
</a>
