<section class="section teaser-gallery">
  {% set headline = simpleGallery.headline %}
  {% include './_headline.html' %}

  <div class="m-container">
    <div class="row">
        <div class="col col-20 col-push-2  col-sm-12 col-sm-push-0 js-teaser-gallery-wrapper">
          <div class="teaser-gallery__slider">
            <div class="swiper-container js-teaser-gallery-slider">
                <div class="swiper-wrapper">
                  {% for item in simpleGallery.slides %}
                    <div class="swiper-slide teaser-gallery__slide">
                      <div class="teaser-gallery__slide-inner" style="--overlay-index: 0.1;">
                        <img src="{{item.src}}" alt="{{item.alt}}"/>
                        <div class="teaser-gallery__content">
                          {% set headline = item.headline %}
                        {% include '../partials/_headline.html' %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
      <div class="teaser-gallery__pagination pagination pagination_simple swiper-pagination js-teaser-gallery-pagination is-active "></div>
      </div>
    </div>
  </div>
</section>
