<section class="section video-section">
  <div class="m-container">
    <div class="row">
      <div class="col col-20 col-sm-12 col-push-2 col-sm-push-0">
        <div class="video-section__inner">
          <div class="video-section__bg-video-wrapper js-video-wrapper" style="--overlay-index: 0.5">
            <div class="video-section__bg-video-poster">
              <img src="img/teaser-box.jpg" alt="alt"/>
            </div>
            <video class="js-video" playsinline>
              <source src="img/video.mp4" type="video/mp4" />
            </video>
            <button class="video-section__play-btn js-video-play-btn">
              {{ mixins.icon('play') }}
            </button>
            <button class="video-section__pause-btn">
              {{ mixins.icon('pause') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
