{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#fff"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="css/common.css"/>
    <link rel="stylesheet" media="all" href="css/grid.css"/>
    {% for item in modules %}
    <link rel="stylesheet" media="all" href="css/{{ item }}.css"/>
    {% endfor %}
    {# {% include "../partials/_media-tags.html" %} #}

  </head>
  <body>
    {% include '../partials/_grid.html' %}

    <!-- BEGIN content -->
    <div class="out {% if hero_image %} out_padding-none {% endif %} js-out" data-anim-duration="600" data-anim-pc-offset="400" data-anim-mob-offset="200" data-alert-text="Der Link zu diesem Stellenangebot wurde erfolgreich in die Zwischenablage kopiert." >
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->


    <!-- BEGIN scripts -->
    <script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
    {% if swiper %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/grid.js"></script>
    {% for item in scripts %}
    <script type="text/javascript" src="js/{{ item }}.js"></script>
    {% endfor %}


    <!-- <script>
      (function (w, d, s, o, f, js, fjs) {
      w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) }; js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
      js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
      }(window, document, 'script', '_flinkit', 'https://widget.flinkit.de/widget.min.js'));
      _flinkit('init', {phoneNumber: '+493028874362', text: 'Hello, I would like to enquire about your products.'});
    </script> -->

    <!-- <script>
      (function (o, s) {
      window[o] = window[o] || function () { (window[o].config = window[o].config || arguments) };
      js = document.createElement('script'), fjs = document.getElementsByTagName('script')[0];
      js.id = o; js.src = s; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
      }('whatsappWidget', 'https://widget.flinkit.de/v2/widget.min.js'));
      whatsappWidget({
        widgetButtonText: 'Chat with us via Whatsapp',
        qrCodeHelperText: 'Scan the QR code with your phone now and chat via Whatsapp:',
        qrCodeButtonText: 'Chat via computer',
        minimized: true,
        styles: {
          popupClassName: 'whatsapp-widget__popup',
          widgetClassName: 'whatsapp-widget__button',
        },
        merchants: [
          {name: '+49899099830', whatsappPhoneNumber: '+49899099830'}, 
        ]
      });
    </script> -->
    <!-- END scripts -->

  </body>
</html>
