.article-block
  margin-top: 60px

  &:first-of-type
    +sm
      margin-top: 40px
      
  &__title
    margin-bottom: 14px
  ul
    margin-bottom: 1em
  // h3
  //   font-size: 20px
  //   font-weight: normal
  //   letter-spacing: 0.36px
  //   line-height: 1.25
  //   +bold
  //   &:not(:first-of-type)
  //     margin-top: 60px
  // p
  //   +reg-mono
  //   font-size: 20px
  //   letter-spacing: 0.25px
  //   line-height: 1.25
  //   &:not(:last-of-type)
  //     margin-top: 25px

.article
  & > * 
    &:last-child 
      margin-bottom: 0
  h3, h4
    margin-bottom: 10px
    +bold
    font-size: 24px
    line-height: 1.333
    letter-spacing: normal
    +lg
      font-size: 20px
      line-height: 1.3

  p, ul
    margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +sm
      margin-bottom: 25px
  ul 
    li
      position: relative
      padding-left: 23px
      &:before
       content: ''
       position: absolute
       left: 0
       top: 11px
       width: 18px
       height: 1px
       background: $red
       +sm
        width: 16px
      &:not(:last-of-type)
        margin-bottom: 13px