.boxes
  &:not(:last-of-type)
    margin-bottom: 67px

  &__headline
    margin-bottom: 21px
    text-transform: uppercase

    +md
      order: 1
      margin-bottom: 15px

      @for $i from 1 through 3
        &:nth-of-type(#{$i})
          order: #{$i + 1}

  &__text
    color: #fff
    // font-size: 20px
    // letter-spacing: 0.18px
    // line-height: 1.2

    +md
      order: 2

      &:not(:last-of-type)
        margin-bottom: 67px

      @for $i from 1 through 3
        &:nth-of-type(#{$i + 3})
          order: #{$i + 1}
