.burger
  $this: &
  background-color: transparent
  color: $red
  height: 20px
  position: relative
  transition: color $easing 0.3s
  width: 40px
  cursor: pointer

  +sm
    width: 30px
    height: 16px
  +hover
    color: $milanoRed

  &:before,
  &:after
    +pseudo
    background-color: currentColor
    height: 5px
    transition: top $easing 0.3s, transform $easing 0.3s, background-color $ease
    width: 100%
    transform-origin: 0 0
    +sm
      height: 4px

  &:before
    top: 1px
    +sm
      top: 0
  &:after
    bottom: 0
    top: auto


  &.is-active
    &:before
      transform: translate(8px, -5px) rotate(44deg)
      +sm
        transform: translate(6px, -3px) rotate(44deg)

    &:after
      transform: translate(4px, 8px) rotate(-44deg)
      +sm
        transform: translate(4px, 6px) rotate(-44deg)
  +invert
    &:before, &:after
      background: $white

