.dropdown
  $this: &
  background-color: $red
  padding: 54px 28px 40px
  -moz-user-select: none
  -webkit-user-select: none

  +md
    font-size: 24px
    letter-spacing: 0.43px
    padding: 0

  +sm
    font-size: 16px

  &__block
    +md
      max-width: 230px

      &:last-of-type
        padding-bottom: 25px

    // &:not(:last-of-type)
    //   margin-bottom: 33px

    //   +md
    //     margin-bottom: 0

  &__title
    font-size: 12px
    font-weight: normal
    margin-bottom: 11px
    margin-top: 33px

    +md
      display: none

  &__item
    padding-left: 21px
    position: relative

    +md
      line-height: 1.2
      padding-left: 32px
      margin-bottom: 39px

    +sm
      padding-left: 25px
      margin-bottom: 26px

    +mdmin
      &:hover
        #{$this}__link
          border-bottom-color: transparent

        svg
          transform: translateX(4px)

    &:not(:last-of-type)
      +mdmin
        margin-bottom: 16px

    svg
      fill: #fff
      left: 0
      position: absolute
      top: 0.2em
      width: 13px
      +transition

      +md
        top: 50%
        transform: translateY(-50%)
        width: 20px

      +sm
        width: 11px

  &__link
    border-bottom: 1px solid #fff
    transition: border-bottom $easing 0.3s
