.grid
  height: 100%
  display: none
  font-size: 14px
  left: 50%
  opacity: 0.5
  position: fixed
  top: 0
  transform: translateX(-50%)
  width: 100%
  z-index: 1000
  pointer-events: none

  &.is-visible
    display: block

  &__inner
    height: 100%

  &__col

    & > div
      height: 100vh
      background-color: #D4D4D4
