.input
  max-width: 285px
  width: 100%

  +md
    max-width: 201px

  input
    background-color: $redBerry
    border: 1px solid transparent
    color: #fff
    font-size: 12px
    letter-spacing: 1.5px
    line-height: 1.25
    padding: 11.5px 21px
    transition: border-color $easing 0.3s
    width: 100%

    &:-ms-input-placeholder
      color: $red

    &::placeholder
      color: $red

  .is-not-valid
    input
      border-color: $red
