.pagination
  display: flex
  justify-content: flex-start
  align-items: flex-start
  font-size: 0

  &_custom
    justify-content: center
    flex-wrap: wrap
    display: none
    &.is-active
      display: flex
  &_simple
    position: relative
    justify-content: center
    flex-wrap: wrap

  
.pag-btn
  $this: &
  position: relative
  width: 70px
  appearance: none
  border: none
  background: none
  border-radius: 0
  cursor: pointer
  +lg
    width: 60px
  +sm
    width: 30px
  
  &:not(:last-of-type)
    margin-right: 10px
    +sm
      margin-right: 5px
    
  &:before
    content: ''
    position: absolute
    top: -6px
    left: 0
    right: 0
    bottom: -6px

  &__inner
    position: relative
    width: 100%
    height: 8px
    overflow: hidden
    +lg
      height: 6px
    +sm
      height: 4px
  &__line
    position: absolute
    top: 3px
    left: 0px
    height: 3px
    width: 100%
    background-color: $redBerry
    +lg
      top: 2px
      height: 2px
    +sm
      top: 1px

  &__progress
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 8px
    background-color: $red
    transform: scaleX(0)
    transform-origin: 0 0 
    +lg
      height: 6px
    +sm
      height: 4px
 
  &_custom
    opacity: 1

    &.swiper-pagination-bullet
      margin: 0
      margin-top: 15px
      &:not(:last-of-type)
        margin-right: 10px
   
   
    #{$this}__progress
      transform: none
      // transition: transform 2s $easing
      // transform: translateX(-100%)
      animation: btns_default 0.3s $easing
      animation-fill-mode: both
    &.swiper-pagination-bullet-active
      #{$this}__progress
        transition: none
        animation: btns 0.3s $easing
        animation-fill-mode: forwards
        // transform: translateX(0)
        
        // transition: transform 0.3s $easing

@keyframes btns 
  0%
    transform: translate(-100%, 0)
  100%
    transform: translate(0, 0)

@keyframes btns_default 
  0%
    transform: translate(0, 0)
  100%
    transform: translate(100%, 0)
