.textual
  color: $red
  font-size: 14px
  line-height: 1.4
  // letter-spacing: 0.4px
  +reg
  p
    &:not(:last-of-type)
      margin-bottom: 1em
  &_space-sm
    p
      &:not(:last-of-type)
        margin-bottom: 0.6em
  &_xxl
    +bold
    font-size: 32px
    line-height: 1.125

    +lg
      font-size: 24px
      line-height: 1.333
    +sm
      font-size: 20px
      line-height: 1.3
  &_xl
    font-size: 24px
    line-height: 1.333
    +lg
      font-size: 20px
      line-height: 1.3
    +sm
      font-size: 16px
      line-height: 1.5
  &_x
    font-size: 24px
    line-height: 1.166
    +lg
      font-size: 18px
      line-height: 1.222
    +sm
      font-size: 16px
      line-height: 1.25
  &_l
    font-size: 18px
    line-height: 1.333
    +lg
      font-size: 16px
      line-height: 1.5

  &_md
    font-size: 18px
    line-height: 1.111
    +lg
      font-size: 16px
      line-height: 1.25
  &_sm
    font-size: 14px
    line-height: 1.285

  &_bold
    +bold

  &_mono
    +reg-mono
  // &_letter-space-sm
  //   letter-spacing: 0.015em


  // old
  &_std
    font-size: 14px
    line-height: 1.35
    letter-spacing: 0.2px
    +reg-mono

  
    &-xl
      font-size: 20px
      letter-spacing: 0.19px
      line-height: 1.25
      
    &-lg
      font-size: 16px
      
    &-sm
      font-size: 12px

  &_size
    &-xxl
      font-size: 22px
      line-height: 1.2
      letter-spacing: 0.11px
      +bold

    &-xl
      font-size: 20px
      line-height: 1.2
      letter-spacing: 0.18px
      +bold

    &-lg
      font-size: 16px
      line-height: 1.37
      letter-spacing: normal
      +bold

    &-md
      +bold

    &-sm
      font-size: 14px
      line-height: 1.3
      letter-spacing: 0.75px

    &-xs
      font-size: 12px
      line-height: 1.3
      letter-spacing: 0.32px

      +lg
        font-size: 14px
        line-height: 1.2
        letter-spacing: 0.37px

    &-xxs
      font-size: 10px
      line-height: 1.4
      letter-spacing: 1px

      +lg
        font-size: 12px
        line-height: 1.25
        letter-spacing: 1.5

      +sm
        font-size: 14px
        line-height: 1.4
        letter-spacing: 0.25px

  &_line
     position: relative

     &:before
       content: ''
       position: absolute
       left: -10px
       top: 10px
       transform: translate(-100%, 0%)
       width: 37px
       height: 3px
       background: $red

  &_color
    &-light
      color: $white

      &:before
        background: $white

    &-dark
      color: $burgundy

    &-red
      color: $milanoRed

  &_mb-none
    p
      &:not(:last-of-type)
        margin-bottom: 0
  p.is-dark
    color: $burgundy

  p.is-red
    color: $milanoRed

  p.is-light
    color: $white
